
<header>
  <a [routerLink]="['/form']" routerLinkActive="active">表单</a>
  <a [routerLink]="['/router']" routerLinkActive="active">路由</a>
  <a [routerLink]="['/todo-list']" routerLinkActive="active">TODOlist</a>
  <a [routerLink]="['/ajax']" routerLinkActive="active">ajax</a>
  <a [routerLink]="['/tongxun']" routerLinkActive="active">父子组件通讯</a>
  <a [routerLink]="['/life']" routerLinkActive="active">生命周期</a>
  <a [routerLink]="['/base']" routerLinkActive="active">基础知识</a>
</header>

<router-outlet></router-outlet>
